* {
  box-sizing: border-box;
}

.gallery {
  margin-top: 2rem;
}

.photo {
  text-align: center;
}

.logo {
  margin: 0 auto;
  width: 400px;
  color: azure;
  text-decoration: underline;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 64px;
}

body {
  background: url(images/background.jpg) center no-repeat;
}

h3 {
  margin-top: 4rem;
  font-size: 20px !important;
}

img {
  max-width: 100%;
  height: 350px;
}

.hide {
  display: none;
}

.product-description {
  font-size: 17px;
}

.bigger-surfboard {
  height: 550px;
}

.underline {
  text-decoration: underline;
}

.pointer {
  cursor: pointer;
}

.cart-logo {
  position: fixed;
  top: 14px;
  right: 9px;
  color: navajowhite;
  font-size: 50px;
}

#cart-number {
  font-size: 20px;
  color: black;
  position: fixed;
  top: 21px;
  right: 26px;
}

#gallery-title {
  font-size: 30px;
  font-weight: 600;
  color: rgba(251, 248, 221, 0.78);
  font-family: 'Bubbler One', sans-serif;
}

#logo {
  text-align: center;
}
